.chatbot-wrapper{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.chat-display{
    box-sizing: border-box;
    padding: 30px 40px;
    background-color: #dad296;
    width: 80%;
    height: 80%;
    min-width: 200px;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
@media screen and (max-width: 450px) {
    .chat-display{
        height: 100%;
        width: 100%;
    }
}
@media screen and (min-width: 750px) {
    .chat-display{
        height: 80%;
        width: 50%;
    }
}
.chat-heading{
    background-color: #90cc6d;
    height: 10%;
    display: flex;
    align-items: center;
    padding-left: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.display-container{
    overflow-y: scroll;
    width: 100%;
    height: 85%;
    background-color: white;
    padding-bottom: 60px;
}
.display-container::-webkit-scrollbar{
    display: none;
}
.message-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0px;
    animation: popup 0.5s ;
}
.user-initial{
    color: white;
    font-weight: bold;
    width: 30px;
    height: 30px;
    align-self: flex-start;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 10px;
}
.message-content{
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    margin-right: 10px;
    background-color: #7c4fc1;
    color: white;

}
.input-container{
    padding: 4px;
    background-color: #90cc6d;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.chat-input{
    width: 85%;
    height: 25px;
    outline: none;
    border: 1px solid #90cc6d;
    border-radius: 5px;
    padding-left: 10px;
    background-color: white;
    color: black;
}
.input-container button{
    height: 25px;
    color: white;
    background-color: #7c4fc1;
    border: 0px;
    border-radius: 5px;
    width: 10%;
    cursor: pointer
}

@keyframes popup {
    0%{
        transform: translateY(20px);
    }
    
    100%{
        transform: translateY(0px);
    }
}

